/* It is a less file. */
.div_inline_block {
  display: inline-block;
}
.div_inline_block {
  *display: inline;
}
body {
  font-family: "微软雅黑" "黑体" "新宋体";
  padding-bottom: 90px;
}
a {
  text-decoration: underline;
}
.info {
  margin-top: 24px;
}
.info .indet {
  margin-left: 25px;
}
.info .indet p {
  text-indent: -1.2em;
  padding-left: 1.2em;
  line-height: 1.8em;
}
.info i {
  position: relative;
  top: 2px;
  border-radius: 0;
}
.intro ul {
  list-style: none;
  font-size: 0;
}
.intro ul li {
  font-size: 14px;
  display: inline-block;
  width: 25%;
  margin-bottom: 12px;
  margin-top: 6px;
}
.intro ul li {
  *display: inline;
}
.intro i {
  top: 3px;
}
.intro .itemLabel {
  padding-right: 6px;
}
.skill h5 {
  margin-top: 21px;
  margin-bottom: 15px;
  position: relative;
  left: -12px;
}
.skill .skillLabel {
  line-height: 3em;
}
.skill .skillLabel i {
  font-style: normal;
  padding: 7px 14px;
  text-transform: capitalize;
  transition-duration: 300ms;
  top: 0;
  display: inline-block;
  margin: 0 5px;
}
.skill .skillLabel i:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.skill .skilllist > p i {
  display: inline-block;
  margin-right: 2px;
}
.jobHistory .year {
  display: inline-block;
  width: 160px;
  text-indent: 0;
}
